Package: com.jeremd10.repoicons
Name: JeremD10 Repo Icons
Priority: required
Architecture: iphoneos-arm
Description: Icônes pour la source Cydia
Maintainer: Dechelle j <jeremy.dechelle@icloud.com>
Author: Dechelle j <jeremy.dechelle@icloud.com>
Section: System
Version: 2.1
Tag: cydia::essential
